{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Corretor Uem{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'all/css/navbar.css'%}">    
    <link rel="stylesheet" href="{% static 'a_correcao/css/correcao.css'%}">    
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}

{% block content %}   
    {% if not status %}
            <div class="loading">
                <span class="loading-text">O GABARITO AINDA NÃO FOI LIBERADO</span>
            </div>
    {% else %}
        <div class="head">
            <a href="{% url 'correcao' vestibular_url %}">{{ vestibular }}</a>
        </div>
        <div class="main">        
            <form class="form-info" hx-post="{% url 'questions' vestibular_url %}" hx-target=".main" hx-swap="innerHTML">
                {% csrf_token  %}
                <label for="selecao-linguagem">Defina o seu idioma escolhido:</label>
                <select class="form-select" name="linguagem" id="selecao-linguagem">
                    <option value="en">Inglês</option>
                    <option value="es">Espanhol</option>
                    <option value="fr">Frânces</option>
                </select>

                {% if serie %}
                    {% include 'partials/serie.html' %}
                {% endif %}
                <div class="cursos">
                    {% include 'partials/cursos.html' %}
                </div>


                <button class="submit-button" type="submit">Enviar</button>

            </form>        
        </div>     
    {% endif %}
    
    

{% endblock %}