@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar { 
    background-color: #28314e;
    color: #e2e0e0;
    transition: 0.3s all;
}

.title {
    transition: 0.3s all;
}

.navbar:hover {  
    color: #ffffff;
}

.navbar:hover > .title {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;    
    }

    .title {
        font-family: "Lora", serif;
        font-size: 2rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 7vh;       
    }

    .title {
        padding-left: 2%;
        font-family: "Lora", serif;
        font-size: 3rem;
        font-weight: 700;
    }
}
