
<div class="questoes">
    {% for questao in gabarito %}
        <div class="questao">
            <span class="numero">{{ forloop.counter }}.</span>               
            {% with numero_questao=forloop.counter  %}
                {% include "partials/questao.html" %}
            {% endwith %}                    
        </div>
    {% endfor %}    
    <button class="btn-notas" hx-get="{% url 'nota' %}" hx-trigger="click" hx-target="#resumo" hx-swap="outerHTML">Atualizar Nota</button>
    <div class="resumo" id="resumo">

    </div>
</div>