{% extends 'partials/base.html' %}

{% load static %}
{% block title%}
Corretor Uem
{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'a_home/css/home.css'%}">
    <link rel="stylesheet" href="{% static 'all/css/navbar.css'%}">    
{% endblock %}

{% block navbar%}
    {% include 'partials/navbar.html' %}   
{% endblock%}

{% block content %}    
    <div class="vestibulares">
        {% for vestibular, details in vestibulares.items %}
            <a href="{% url 'correcao' details.url %}" class="vestibular">
                <div class="img"> 
                    <img src="{{ details.img }}" alt="">
                </div>
                <div class="description">
                    <h2>{{ vestibular }}</h2>
                    <span class="status {{ details.status }}"></span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}