@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.loading-text, .head a{
    font-family: "Lora", serif;
    font-weight: 800;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head a {
    padding-top: 10%;
    color: #272727;
    margin-bottom: 10%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main {    
    display: flex;
    align-items:flex-start;
    justify-content: center;   
    width: 90%;
    height: 88vh;
    background-color: #ffffff48;
    border-radius: 10px;    
}

.form-info {
    display: flex;
    flex-direction: column;  
    gap: 0.8rem; 
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    height: 80%;
}

.cursos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}


.form label {
    font-family: "Lora", serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 600;
}

.form-select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color: #000000;
    transition: border-color 0.3s ease;
}

.form-select:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-button:hover {
    background: #0056b3;
}

.questoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.mostra-resposta {
    font-family: "Lora", serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 600;
}

.form-checkbox { 
    margin-left: 5%;
}

.checkbox {
    width: 1.6rem;
    height: 1.5rem;
    border: 2px solid #000000;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    appearance: none;    
}

.checkbox:hover {
    transform: scale(1.05);
}

.checkbox:checked{
    background-color: #000000;
}

.checkbox:checked::after {
    content: "✓";
    color: white;
    font-size: 14px;
    font-weight: bold;
}


.questao, .funcoes {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    width: 70%;
    max-width: 450px;      
    margin-bottom: 0.8rem;
}

.funcoes {
    justify-content: start;
}

.numero {
    font-family: "Lora", serif;
    font-weight: 500;
}

.alternativas {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-around;

}

.alternativa {
    width: 15%;     
    aspect-ratio: 1/1;
    border-radius: 50%; 
    border: 1.5px solid black;       
    background-color: transparent;
    font-family: "Lora", serif;
    font-weight: 650;
    color: black;   
    font-size: 16px;    
    cursor: pointer;   
    display: flex;     
    align-items: center; 
    justify-content: center;
    transition: all 0.3s; 
}

@media screen and (min-width: 1024px) {
    .alternativa:hover {
        background-color: #d6d6d6;
        transform: scale(1.1);
    } 
}


.marcado.certa{
    background-color: rgb(74,255,177);
    border-color: rgb(74,255,177);
    color: #000000;
}

.marcado.errada {
    background-color: rgba(227, 4, 4, 0.72);
    border-color: rgba(227, 4, 4, 0.72);
    color: #000000;
}

.mostra-resposta.certa {
    border: 3px solid  rgb(74,255,177);
}

.mostra-resposta.errada {
    border: 3px solid rgba(227, 4, 4, 0.72);     
}

.div-soma {
    width: 5%;
    margin-left: 5%;
}

.soma {
    font-family: "Lora", serif;
    font-weight: 550;
}

.btn-notas {
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;    
    font-weight: 900;
    color: black;
    border: #000000 1px solid;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-notas:hover {
    color: #fff;
    background: black;
}

h3 {
    font-family: "Lora", serif;
    font-weight: 700;
}

p {
    margin: 0.5rem 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.nota-final {
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
    .loading-text {
        font-size: 1.2rem;
    }
    .head a {
        font-size: 1.65rem;
    }
    .mostra-resposta{
        font-size: 1rem;
    }

    .numero {
        font-size: 1.3rem;
    }
    .questao {
        width: 78%;
    }
    .alternativa {
        font-size: 1.2rem;
    }
    .soma {
        font-size: 1.3rem;
    }
    .btn-notas {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .loading-text{
        font-size: 2.3rem;
    }
    .head a {
        font-size: 3rem;
    }
    .mostra-resposta{
        font-size: 1.2rem;
    }
    .numero {
        font-size: 1.5rem;
    }
    .alternativa {
        font-size: 1.4rem;
    }
    .soma {
        font-size: 1.5rem;
    }
    .btn-notas {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    p {
        font-size: 1.5rem;
    }

}
